In [1]:
%run create_tables.py

In [2]:
%run etl.py

INSERT INTO songplays
                           (start_time,user_id,level,song_id,artist_id,session_id,location,user_agent)
                           SELECT DISTINCT TIMESTAMP 'epoch' + (e.ts / 1000) * INTERVAL '1 second' as start_time,
                           e.userId, e.level,
                           s.song_id, a.artist_id,
                           e.sessionId, e.location, e.userAgent
                           FROM stagging_events e LEFT JOIN (
                               SELECT * FROM (
                                   SELECT title, song_id, row_number () OVER
                                   (PARTITION BY title) AS rownum FROM songs) groups
                                   WHERE groups.rownum = 1) s
                           ON (e.song=s.title) LEFT JOIN (
                               SELECT * FROM (
                                    SELECT name, artist_id, ROW_NUMBER () OVER
                                    (PARTITION BY name) AS rownum FROM artists) groups
                                    WHERE groups.rownum = 1) a
                           ON (e.artist=a.name);
INSERT INTO users (user_id,first_name,last_name,gender,level)
                       SELECT userId, firstName, lastName, gender, level
                       FROM (
                           SELECT userId, firstName, lastName, gender, level,ts,
                           ROW_NUMBER () OVER
                           (PARTITION BY userId ORDER BY ts DESC) AS rownum
                            FROM stagging_events) groups
                       WHERE groups.rownum = 1;
INSERT INTO songs (song_id,title,artist_id,year,duration)
                       SELECT song_id, title, artist_id, year, duration
                       FROM (
                            SELECT song_id, title, artist_id, year, duration,
                            ROW_NUMBER () OVER (PARTITION BY song_id) AS rownum
                            FROM stagging_songs) groups
                       WHERE groups.rownum = 1;
INSERT INTO artists (artist_id,name,location,latitude,longitude)
                         SELECT artist_id, artist_name, artist_location, artist_latitude, artist_longitude
                         FROM (
                             SELECT artist_id, artist_name, artist_location, artist_latitude, artist_longitude,
                             ROW_NUMBER () OVER (PARTITION BY artist_id) AS rownum
                             FROM stagging_songs) groups
                         WHERE groups.rownum = 1;
INSERT INTO time (start_time, hour, day, week, month, year, weekday)
                       SELECT start_time,
                       EXTRACT(HOUR FROM start_time),
                       EXTRACT(DAY FROM start_time),
                       EXTRACT(WEEKS FROM start_time),
                       EXTRACT(MONTH FROM start_time),
                       EXTRACT(YEAR FROM start_time),
                       to_char(start_time, 'Day')
                       FROM (
                           SELECT DISTINCT TIMESTAMP 'epoch' + (ts / 1000) * INTERVAL '1 second' as start_time
                           FROM stagging_events) t;